{% extends 'base.html' %}

{% block content%}

    <h2>{{stock_ticker}}</h2>
    <h2>{{stock_price_formatted}}</h2>
    <h3>{{user_name}}</h3>
    <h3>{{user_money_formatted}}</h3>
    <h4>{{display}}</h4>
    <h4>{{quantity_owned}}</h4>



    <form method="POST">
        {% csrf_token %}
        {{buy_form}}

        <button type="submit" name = buy_button>Buy</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        {{sell_form}}

        <button type="submit" name = "sell_button">Sell</button>
    </form>

{% endblock %}